@mixin circle-box($location) {
    &::before {
        content: "";
        background-image: url($location);
        width: 115px;
        height: 115px;
        display: block;
        position: absolute;
        top: -3.725rem;
        opacity: 0.7;
        z-index: 100;
    }
}