html {
    scroll-behavior: smooth;
}

.mob-only {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.tab-and-above {
    display: none;
    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

// abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// base
@import 'base/typography';

// layout
@import 'layout/navbar';
@import 'layout/hero';
@import 'layout/footer';

// pages
@import 'pages/home';
@import 'pages/about';
@import 'pages/books';

// components
@import 'components/button';