.hero {
    min-height: 35rem;
    box-sizing: border-box;
    padding: 8rem 0 10rem;
    // background-image: linear-gradient(to bottom, $color-white-primary 5%, $color-white-tertiary 35%, $color-white-tertiary 100%);
    background: $color-primary-lightest;
    position: relative;

    .text-content {
        padding: 0
    }

    .featured-image {
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            margin-top: 5rem;
            // width: clamp(310px, 100%, 350px);
            min-width: 310px;
            width: 100%;
            max-width: 350px;
            height: auto;      
        }
    }

    @media only screen and (min-width: 768px) {
        padding: 10rem 0 8rem;

        .featured-image {
            height: 100%;
            // padding-left: 1.5rem;

            img {
                height: 100%;
                margin-top: 0rem;
            }
        }

        .text-content {
            padding-right: 1rem;
        }
    }

    @media only screen and (min-width: 992px) {
        padding: 12rem 0 8rem;

        .featured-image {
            height: 150%;
            min-height: 25rem;
            overflow-x: visible;

            img {
                width: auto;
                height: 100%;
                margin-top: -5rem;
                min-width: auto;
                max-width: 550px;
            }
        }

        .text-content {
            padding-right: 3rem;
        }
    }
}
