.hero {
    min-height: 35rem;
    box-sizing: border-box;
    padding: 12rem 0 10rem;
    background-image: linear-gradient(to bottom, $color-white-primary 5%, $color-white-tertiary 35%, $color-white-tertiary 100%);

    .featured-image {
        img {
            margin-top: 5rem;
            width: 100%;
        }
    }
}