.navbar {
    background-color: $color-white-primary;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    border: 1px solid $color-white-tertiary;

    &-nav {
        a.nav-link {
            padding-top: 5px;
            padding-bottom: 5px;
    
            &.active {
                color: $color-primary-dark;
                background-color: $color-white-tertiary;
            }
        }
    }

    &-brand {
        .logo {
            display: inline-block;

            img {
                height: 50px;
            }
        }
        #brand-text {
            display: inline-block;
            max-width: 50px;
            word-break: normal;
            font-size: 16px;
            margin-left: 8px;
        }
    }

    &-toggler {
        border: none;
        padding: 0.5rem;
    }
}