.btn {
    padding: 1rem 2rem;
    background-color: $color-primary-light;
    font-size: 16px;
    font-weight: 500;
    // box-shadow: 0 1rem 1.5rem rgba($color-primary-dark, 0.2);
    margin-top: 1rem;
    color: $color-secondary;
    border-radius: 3px;
    min-width: 100%;
    text-transform: uppercase;

    @media screen and (min-width: 768px){
        min-width: 0%;
    }

    &:hover {
        background-color: $color-primary-medium;
    }

    &-sec {
        background-color: transparent;
        color: hsl(256, 80%, 46%);
        text-decoration: none;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid hsl(256, 80%, 46%);

        &:hover {
            color: hsl(256, 80%, 26%);
            border-bottom: 2px solid hsl(256, 80%, 26%);
            text-decoration: none;
        }
    }
}

